{{ define "body-class" }}template-archives{{ end }}
{{ define "main" }}
    <header>
        {{- $taxonomy := $.Site.GetPage "taxonomyTerm" "categories" -}}
        {{- $terms := $taxonomy.Pages -}}
        {{ if $terms }}
        <h2 class="section-title">{{ T "widget.categoriesCloud.title" }}</h2>
        <div class="cat-grid">
            {{ range $terms }}
                {{ partial "article-list/tile" . }}
            {{ end }}
        </div>
        {{ end }}
    </header>

    {{ partialCached "footer/footer" . }}
{{ end }}
